<!-- index.html -->

{% load static %}

<style>
  #openManual {
      display: inline-flex;
      align-items: center;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      background-color: #4CAF50;
      color: #fff;
      border: 1px solid #4CAF50;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  #openManual:hover {
      background-color: #45a049;
  }

  #openManual i {
      margin-right: 8px;
      font-size: 18px;
  }
  #Manualspan{
    font-family: Arial, Helvetica, sans-serif;
    
  }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ServiExpress</title>
    <!-- .css -->
  <link rel="stylesheet" href="{% static 'styles/nav.css' %}">

  <link rel="stylesheet" href="{% static 'styles/serviceform.css' %}">
  <link rel="stylesheet" href="{% static 'styles/usersTable.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_atenciones.css' %}">
  <link rel="stylesheet" href="{% static 'styles/ate_modificar.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_filtrar.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_pedidos.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_vehiculos.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_inv.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  
  <header>
    <nav>
      <div class="navbar">
        <div class="logo">
          <a href="/adm_home">
            <img src="{% static 'LogoPokebola.png' %}" alt="Logo">
          </a>
        </div>
        <div class="nav-items">
          <ul>
            <li><a href="#" id="atenciones-link"><i class="fas fa-list-alt"></i> Atenciones</a></li>
            <li><a href="#" id="servicios-link"><i class="fas fa-wrench"></i> Servicios</a></li>
            <li><a href="#" id="proveedores-link"><i class="fas fa-truck"></i> Proveedores</a></li>
            <li><a href="#" id="pedidos-link"><i class="fas fa-shopping-basket"></i> Pedidos</a></li>
            <li><a href="#" id="inventario-link"><i class="fas fa-box"></i> Inventario</a></li>
            <li><a href="#" id="usuarios-link"><i class="fas fa-users"></i> Usuarios</a></li>
            <li><a href="#" id="vehiculos-link"><i class="fas fa-car"></i> Vehiculos</a></li>
            <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>            
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="content" style="margin-top: 20px; margin-left: 10px;">
    <!-- Contenido adicional de tu página de inicio -->
      
    <button id="openManual">
      <i class="fas fa-question-circle"></i> Manual en linea
    </button><span id="Manualspan"> ¿Necesitas ayuda para navegar?, consulta nuestro manual en linea.</span>

    <button id="limpiarPantalla" style="display: none;">Limpiar Pantalla</button>

    <div id="container-current_user" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <h3> Bienvenido a ServiExpress, señor {{user_profile.user_name}}.</h3>
      <br>

    </div>

    <div id="container-adm_atenciones" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;" >
      <!-- Aquí se cargará el contenido dinámico -->
    </div>
    <div id="container-adm_servicios" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>
    <div id="container-adm_proveedores" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>
    <div id="container-adm_pedidos" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>
    <div id="container-adm_inv" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>
    <div id="container-adm_users" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>
    <div id="container-adm_vehiculos" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>

  </div>


  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{% static 'js/carousel.js' %}"></script>
  
<script>
    function openPdf() {
        var pdfPath = "{% static 'manuales/V.ADM1N15TRAD0R.pdf' %}";
        window.open(pdfPath, '_blank');
    }
    document.getElementById('openManual').addEventListener('click', openPdf);
</script>


  <!-- atenciones -->

  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de Servicios
      $("#atenciones-link").on("click", function (e) {
        e.preventDefault();
  
        $.ajax({
          url: "{% url 'adm_atenciones' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_atenciones").html(data).show();

            $("#container-adm_servicios").html(''); 
            $("#limpiarPantallaServicios").hide();
            $("#container-adm_users").html(''); 
            $("#limpiarPantallaUsuarios").hide();
            $("#container-adm_proveedores").html(''); 
            $("#limpiarPantallaProveedores").hide();
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-adm_pedidos").html(''); 
            $("#limpiarPantallaPedidos").hide();
            $("#container-adm_inv").html(''); 
            $("#limpiarPantallaInventario").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Atenciones");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Servicios
      $("#limpiarPantallaServicios").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

  <!-- servicios -->
  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de Servicios
      $("#servicios-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_servicios.html
        $.ajax({
          url: "{% url 'adm_servicios' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_servicios").html(data).show();

            $("#container-adm_atenciones").html(''); 
            $("#limpiarPantallaAtenciones").hide(); 
            $("#container-adm_users").html(''); 
            $("#limpiarPantallaUsuarios").hide(); 
            $("#container-adm_proveedores").html(''); 
            $("#limpiarPantallaProveedores").hide();
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-adm_pedidos").html(''); 
            $("#limpiarPantallaPedidos").hide();
            $("#container-adm_inv").html(''); 
            $("#limpiarPantallaInventario").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Servicios");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Servicios
      $("#limpiarPantallaServicios").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

  <!-- proveedores -->

  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de Proveedores
      $("#proveedores-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_proveedores.html
        $.ajax({
          url: "{% url 'adm_proveedores' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_proveedores").html(data).show();
            $("#limpiarPantallaProveedores").show();
            $("#container-adm_atenciones").html(''); 
            $("#limpiarPantallaAtenciones").hide(); 
            $("#container-adm_servicios").html(''); // Oculta el contenido de Servicios
            $("#limpiarPantallaServicios").hide(); // Oculta el botón de limpiar pantalla de Servicios
            $("#container-adm_users").html(''); // Oculta el contenido de Usuarios
            $("#limpiarPantallaUsuarios").hide(); // Oculta el botón de limpiar pantalla de Usuarios
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-adm_pedidos").html(''); 
            $("#limpiarPantallaPedidos").hide();
            $("#container-adm_inv").html(''); 
            $("#limpiarPantallaInventario").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Proveedores");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Proveedores
      $("#limpiarPantallaProveedores").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

  <!-- pedidos -->
  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de pedidos
      $("#pedidos-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_pedidos.html
        $.ajax({
          url: "{% url 'adm_pedidos' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_pedidos").html(data).show();
            $("#limpiarPantallaPedidos").show();
            $("#container-adm_atenciones").html(''); 
            $("#limpiarPantallaAtenciones").hide(); 
            $("#container-adm_servicios").html(''); // Oculta el contenido de Servicios
            $("#limpiarPantallaServicios").hide(); // Oculta el botón de limpiar pantalla de Servicios
            $("#container-adm_users").html(''); // Oculta el contenido de Usuarios
            $("#limpiarPantallaUsuarios").hide(); // Oculta el botón de limpiar pantalla de Usuarios
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-adm_proveedores").html(''); 
            $("#limpiarPantallaProveedores").hide();
            $("#container-adm_inv").html(''); 
            $("#limpiarPantallaInventario").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Pedidos");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Proveedores
      $("#limpiarPantallaPedidos").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

  <!-- inventario -->
  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de pedidos
      $("#inventario-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_inv.html
        $.ajax({
          url: "{% url 'adm_inv' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_inv").html(data).show();
            $("#limpiarPantallaInventario").show();
            $("#container-adm_atenciones").html(''); 
            $("#limpiarPantallaAtenciones").hide(); 
            $("#container-adm_servicios").html(''); // Oculta el contenido de Servicios
            $("#limpiarPantallaServicios").hide(); // Oculta el botón de limpiar pantalla de Servicios
            $("#container-adm_users").html(''); // Oculta el contenido de Usuarios
            $("#limpiarPantallaUsuarios").hide(); // Oculta el botón de limpiar pantalla de Usuarios
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-adm_proveedores").html(''); 
            $("#limpiarPantallaProveedores").hide();
            $("#container-adm_pedidos").html(''); 
            $("#limpiarPantallaPedidos").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Inventario");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Proveedores
      $("#limpiarPantallaInventario").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

  <!-- usuarios -->
  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de Usuarios
      $("#usuarios-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_users.html
        $.ajax({
          url: "{% url 'adm_users' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_users").html(data).show();
            $("#limpiarPantallaUsuarios").show();
            $("#container-adm_atenciones").html(''); 
            $("#limpiarPantallaAtenciones").hide(); 
            $("#container-adm_servicios").html(''); // Oculta el contenido de Servicios
            $("#limpiarPantallaServicios").hide(); // Oculta el botón de limpiar pantalla de Servicios
            $("#container-adm_proveedores").html(''); 
            $("#limpiarPantallaProveedores").hide();
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-adm_pedidos").html(''); 
            $("#limpiarPantallaPedidos").hide();
            $("#container-adm_inv").html(''); 
            $("#limpiarPantallaInventario").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Usuarios");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Usuarios
      $("#limpiarPantallaUsuarios").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

<!-- vehiculos -->

<script>
  $(document).ready(function () {
    // Manejar el clic en el enlace de Vehículos
    $("#vehiculos-link").on("click", function (e) {
      e.preventDefault();

      $.ajax({
        url: "{% url 'adm_vehiculos' %}",
        method: "GET",
        success: function (data) {
          $(".adm-container").hide();
          $("#container-adm_vehiculos").html(data).show();

          // Ocultar otros contenedores y botones de limpiar pantalla
          $("#container-adm_servicios").html(''); 
          $("#limpiarPantallaServicios").hide();
          $("#container-adm_users").html(''); 
          $("#limpiarPantallaUsuarios").hide();
          $("#container-adm_proveedores").html(''); 
          $("#limpiarPantallaProveedores").hide();
          $("#container-adm_atenciones").html(''); 
          $("#limpiarPantallaAtenciones").hide();
          $("#container-adm_pedidos").html(''); 
          $("#limpiarPantallaPedidos").hide();
          $("#container-adm_inv").html(''); 
          $("#limpiarPantallaInventario").hide();
          $("#container-current_user").html(''); 
        },
        error: function () {
          alert("Error al cargar el contenido de Vehículos");
        },
      });
    });

    // Manejar el clic en el botón de limpiar pantalla de Vehículos
    $("#limpiarPantallaVehiculos").on("click", function () {
      $(".adm-container").hide();
      $(this).hide();
    });
  });
</script>

</body>
</html>
