<h2>Administración de Inventario</h2>

<style>

  /* Estilos para el formulario de filtrado de inventario */
#inventario-filter-form {
    padding-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  #inventario-filter-form input {
    padding: 8px;
    width: 200px;
  }
  
  #inventario-filter-form button {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  #inventario-filter-form button:hover {
    background-color: #0056b3;
  }
  
  
  /* Estilos para la tabla de inventario */
  .inventario-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .inventario-table th{
    background-color: rgb(18, 18, 122);
    color: #ddd;
  }
  
  .inventario-table th, .inventario-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Estilos específicos para cada columna */
  .repuesto-nombre {
    width: 30%;
  }
  
  .repuesto-marca, .repuesto-anno {
    width: 20%;
  }
  
  .cantidad-total {
    width: 15%;
  }
  
  /* Estilos para resaltar las filas al pasar el ratón */
  .inventario-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
</style>

<form id="inventario-filter-form">
  <input
    type="text"
    id="search"
    name="search"
    placeholder="Buscar por nombre"
  />
  <input
    type="text"
    id="marca_filter"
    name="marca_filter"
    placeholder="Buscar por marca"
  />
  <input
    type="number"
    id="anno_filter"
    name="anno_filter"
    placeholder="Filtrar por año"
  />
  <button id="filtrar" type="button" onclick="filterInventario()">Filtrar</button>
  <button type="button" onclick="generatePDF()">Generar PDF</button> 
</form>

<div class="col-md-12">
<table class="inventario-table">
  <thead>
      <tr>
          <th class="repuesto-nombre">Nombre del Repuesto</th>
          <th class="repuesto-marca">Marca</th>
          <th class="repuesto-anno">Año</th>
          <th class="cantidad-total">Cantidad Total</th>
      </tr>
  </thead>
  <tbody id="inventario-table-body">
      {% for inventario in inventario %}
          <tr>
              <td class="repuesto-nombre">{{ inventario.rep_nom }}</td>
              <td class="repuesto-marca">{{ inventario.rep_marc }}</td>
              <td class="repuesto-anno">{{ inventario.rep_anno }}</td>
              <td class="cantidad-total">{{ inventario.inv_cantTotal }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
</div>



<script>
  function filterInventario() {
      var search = document.getElementById("search").value;
      var marcaFilter = document.getElementById("marca_filter").value;
      var annoFilter = document.getElementById("anno_filter").value;

      var url =
    "{% url 'filtered_inventario' %}?search=" +
    search +
    (marcaFilter ? "&marca_filter=" + marcaFilter : "") +
    (annoFilter ? "&anno_filter=" + annoFilter : "");

      fetch(url)
          .then((response) => response.json())
          .then((data) => {
              updateTable(data.inventario);
          })
          .catch((error) => console.error("Error:", error));
  }

  function updateTable(inventario) {
      var tableBody = document.getElementById("inventario-table-body");
      tableBody.innerHTML = "";

      inventario.forEach(function (item) {
          var row =
              "<tr>" +
              "<td>" +
              item.rep_nom +
              "</td>" +
              "<td>" +
              item.rep_marc +
              "</td>" +
              "<td>" +
              item.rep_anno +
              "</td>" +
              "<td>" +
              item.inv_cantTotal +
              "</td>" +
              "</tr>";
          tableBody.innerHTML += row;
      });
  }
</script>

<script>
  function generatePDF() {
    var search = document.getElementById("search").value;
    var marcaFilter = document.getElementById("marca_filter").value;
    var annoFilter = document.getElementById("anno_filter").value;

    // Construir la URL para la generación del PDF
    var pdfUrl =
      "{% url 'generate_pdf_inventario' %}?search=" +
      search +
      "&marca_filter=" +
      marcaFilter +
      "&anno_filter=" +
      annoFilter;

    // Abrir una nueva pestaña con el PDF
    window.open(pdfUrl, "_blank");
  }
</script>
