<h2>Atenciones Inscritas</h2>

{% if atenciones %}
  <table class="atencion-table">
    <thead>
      <tr>
        <th class="table-header">Id</th>
        <th class="table-header">Cliente</th>
        <th class="table-header">Lista de Atenciones</th>
        <th class="table-header">Fecha de Atencion</th>
        <th class="table-header">Total de la Atencion</th>
        <th class="table-header">Estado de la Atencion</th>
        <th class="table-header">Acciones</th> 
      </tr>
    </thead>
    <tbody>
      {% for atencion in atenciones %}
        <tr>
          <td>{{ atencion.ate_id }}</td>
          <td>{{ atencion.userProfile.user_name }} {{ atencion.userProfile.user_lastname }}</td>
          <td>{{ atencion.ate_list }}</td>
          <td>{{ atencion.ate_date }}</td>
          <td>{{ atencion.ate_prec }}</td>
          <td>{{ atencion.ate_est }}</td>

          <td>
           
          </td>
        
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="no-atencion">No hay Atenciones inscritas.</p>
{% endif %}
