<!-- adm_users.html -->

<style>

.add-user-button {
   background-color: #4caf50;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}


.user-form-container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
 }

 .delete-user-btn {
   background-color: red; /* Fondo rojo */
   color: white; /* Texto blanco */
   border: none; /* Sin borde */
   padding: 5px 10px; /* Ajusta el padding según tus preferencias */
   border-radius: 5px; /* Esquinas redondeadas */
   cursor: pointer; /* Cambia el cursor al pasar el ratón */
 }
 
 /* Cambia el cursor al pasar el ratón */
 .delete-user-btn:hover {
   background-color: darkred; /* Cambia el color de fondo al pasar el ratón */
 }
 
 .user-form label {
    display: block;
    margin-bottom: 8px;
 }
 
 .user-form input,
 .user-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
 }
 
 .user-form button {
    background-color: rgb(18, 18, 122);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .user-table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
 }
 
 .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
 }
 
 .user-table th {
    background-color: rgb(18, 18, 122);
    color: white;
 }

</style>

<h2>Administración de Usuarios</h2>

<button id="add-user-btn" class="add-user-button">+ Añadir Usuario</button>

<div
  id="add-user-form-container"
  class="user-form-container"
  style="display: none"
  
>
  <form id="add-user-form" class="user-form">
    {% csrf_token %}
    <label for="user_name">Nombre:</label>
    <input type="text" name="user_name" required />

    <label for="user_lastname">Apellido:</label>
    <input type="text" name="user_lastname" required />

    <label for="user_password">Contraseña:</label>
    <input type="password" name="user_password" required />

    <label for="user_mail">Correo Electrónico:</label>
    <input type="email" name="user_mail" required />

    <label for="user_fono">Teléfono:</label>
    <input type="text" name="user_fono" required />

    <label for="rol_id">Rol:</label>
    <select name="rol_id" required>
      <option value="cli">Cliente</option>
      <option value="per">Personal</option>
      <option value="adm">Administrador</option>
    </select>

    <button type="submit">Guardar</button>
  </form>
</div>

<form id="user-filter-form">
  <input
    type="text"
    id="search"
    name="search"
    placeholder="Buscar por nombre"
  />
  <select id="role_filter" name="role_filter">
    <option value="" selected>Todos los roles</option>
    <option value="Cliente">Cliente</option>
    <option value="Personal">Personal</option>
    <option value="Administrador">Administrador</option>
  </select>
  <button id="filtrar" type="button" onclick="filterUsers()">Filtrar</button>

  <!-- Nuevo botón para generar PDF -->
  <button type="button" onclick="generatePDF()">Generar PDF</button>
</form>

<div class="col-md-12">
<table class="user-table">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Rol</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo Electrónico</th>
      <th>Teléfono</th>
    </tr>
  </thead>
  <tbody id="user-table-body">
    {% for user in users %}
    <tr>
      <td>{{ user.rol.rol_id }}_{{ user.user_id }}</td>
      <td>{{ user.rol.rol_description }}</td>
      <td>{{ user.user_name }}</td>
      <td>{{ user.user_lastname }}</td>
      <td>{{ user.user_mail }}</td>
      <td>{{ user.user_fono }}</td>
      <td>
        <button class="delete-user-btn" data-user-id="{{ user.user_id }}">
          Eliminar
        </button>
      </td>
    </tr>
    {% endfor %}

    <!-- Filtrado Usuarios -->
    <script>
      function filterUsers() {
        var search = document.getElementById("search").value;
        var roleFilter = document.getElementById("role_filter").value;

        var url =
          "{% url 'filtered_users' %}?search=" +
          search +
          (roleFilter ? "&role_filter=" + roleFilter : "");

        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            updateTable(data.users);
          })
          .catch((error) => console.error("Error:", error));
      }

      function updateTable(users) {
        var tableBody = document.getElementById("user-table-body");
        tableBody.innerHTML = "";

        users.forEach(function (user) {
          var row =
            "<tr>" +
            "<td>" +
            user.rol_id +
            "_" +
            user.id +
            "</td>" +
            "<td>" +
            user.rol_description +
            "</td>" +
            "<td>" +
            user.user_name +
            "</td>" +
            "<td>" +
            user.user_lastname +
            "</td>" +
            "<td>" +
            user.user_mail +
            "</td>" +
            "<td>" +
            user.user_fono +
            "</td>" +
            "<td>" +
            "<button class='delete-user-btn' data-user-id='" +
            user.id +
            "'>Eliminar</button>" +
            "</td>" +
            "</tr>";

          tableBody.innerHTML += row;
        });
      }
    </script>

    <script>
      function generatePDF() {
        var search = document.getElementById("search").value;
        var roleFilter = document.getElementById("role_filter").value;

        // Construir la URL para la generación del PDF
        var pdfUrl =
          "{% url 'generate_pdf' %}?search=" +
          search +
          "&role_filter=" +
          roleFilter;

        // Abrir una nueva pestaña con el PDF
        window.open(pdfUrl, "_blank");
      }
    </script>

    <!-- añadir usuario -->

    <script>
      $(document).ready(function () {
        // Manejar el clic en el botón "Añadir Usuario"
        $("#add-user-btn").on("click", function () {
          $("#add-user-form-container").toggle();
        });

        // Manejar el envío del formulario para añadir usuario
        $("#add-user-form").on("submit", function (e) {
          e.preventDefault();

          // Realizar una solicitud AJAX para agregar el usuario a la base de datos
          $.ajax({
            url: "{% url 'add_user' %}", // Ajusta esto según tu configuración de URL
            method: "POST",
            data: $(this).serialize(),
            success: function (data) {
              // Actualizar la tabla con los nuevos datos
              // Puedes hacer esto también con una nueva solicitud AJAX o como mejor prefieras

              // Limpiar el formulario y ocultarlo después de añadir el usuario
              $("#add-user-form")[0].reset();
              $("#add-user-form-container").hide();

              // Agregar el nuevo usuario a la tabla
              var newRow =
                "<tr>" +
                "<td>" +
                data.rol_id +
                "_" +
                data.user_id +
                "</td>" +
                "<td>" +
                data.rol_description +
                "</td>" +
                "<td>" +
                data.user_name +
                "</td>" +
                "<td>" +
                data.user_lastname +
                "</td>" +
                "<td>" +
                data.user_mail +
                "</td>" +
                "<td>" +
                data.user_fono +
                "</td>" +
                "</tr>";

              $("tbody").append(newRow);

              // Mostrar el mensaje de éxito con SweetAlert2
              Swal.fire({
                icon: "success",
                title: "Usuario añadido",
                showConfirmButton: false,
                timer: 1500, // 1.5 segundos
              });
            },
            error: function () {
              alert("Error al añadir usuario");
            },
          });
        });
      });
    </script>

    <!-- eliminar usuario  -->

    <script>
      $(document).ready(function () {
        $(".delete-user-btn").on("click", function () {
          var userId = $(this).data("user-id");
          var clickedButton = $(this);

          // Realizar una solicitud AJAX para eliminar el usuario de la base de datos
          $.ajax({
            url: "{% url 'delete_user' %}",
            method: "POST",
            data: { user_id: userId },
            success: function (data) {
              // Mostrar la alerta con SweetAlert2
              Swal.fire({
                icon: "success",
                title: "Usuario Eliminado",
              });

              // Eliminar la fila de la tabla
              clickedButton.closest("tr").remove();
            },
            error: function () {
              // Mostrar una alerta de error si la eliminación falla
              Swal.fire({
                icon: "error",
                title: "Error",
                text: "Error al eliminar usuario",
              });
            },
          });
        });
      });
    </script>
  </tbody>
</table>
</div>
