<style>
    /* Estilos para el formulario de añadir proveedor */
    .proveedor-form-container {
      margin-top: 20px;
    }
  
    .proveedor-form label {
      display: block;
      margin-bottom: 5px;
    }
  
    .proveedor-form input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
  
    .proveedor-form button {
      background-color: rgb(18, 18, 122);
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .proveedor-form button:hover {
      background-color: rgb(18, 18, 122);
    }
  
    /* Estilos para la tabla de proveedores */
    .proveedor-table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
    }
  
    .proveedor-table th, .proveedor-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  
    .proveedor-table th {
      background-color: rgb(18, 18, 122);
      color: white;
    }
  
    /* Estilos para la sección de mensajes de éxito */
    .success-message {
      margin-top: 20px;
      padding: 10px;
      background-color: #dff0d8;
      border: 1px solid #d6e9c6;
      color: #3c763d;
      border-radius: 5px;
    }
  </style>
  

<h2>Administración de Proveedores</h2>

<!-- <button id="add-proveedor-btn" class="add-proveedor-button">
  + Añadir Proveedor
</button> -->

<div
  id="add-proveedor-form-container"
  class="proveedor-form-container"
  style="display: none"
>
  <form id="add-proveedor-form" class="proveedor-form">
    {% csrf_token %}
    <label for="pro_nom">Nombre:</label>
    <input type="text" name="pro_nom" required />

    <label for="pro_mail">Correo Electrónico:</label>
    <input type="email" name="pro_mail" required />

    <button type="submit">Guardar</button>
  </form>
</div>

<table class="proveedor-table">
  <thead>
    <tr>
      <th>Proveedor</th>
      <th>Nombre</th>
      <th>Correo Electrónico</th>
    </tr>
  </thead>
  <tbody>
    {% for proveedor in proveedores %}
    <tr>
      <td>{{ proveedor.pro_id }}</td>
      <td>{{ proveedor.pro_nom }}</td>
      <td>{{ proveedor.pro_mail }}</td>
      <td>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


