<!-- index.html -->

{% load static %}

<style>
  #openManual {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #openManual:hover {
    background-color: #45a049;
  }

  #openManual i {
    margin-right: 8px;
    font-size: 18px;
  }

  #Manualspan {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    font-family: Arial, Helvetica, sans-serif;
  }
</style>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServiExpress</title>
    <!-- .css -->
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/formulario.css' %}" />

    <link rel="stylesheet" href="{% static 'styles/cli_home.css' %}" />

    <link rel="stylesheet" href="{% static 'styles/cli_vehiculo.css' %}" />

    <link rel="stylesheet" href="{% static 'styles/cli_atencion.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

  </head>

  <body>
    <header>
      <nav>
        <div class="navbar">
          <div class="logo">
            <a href="/cli_home">
              <img src="{% static 'LogoPokebola.png' %}" alt="Logo" />
            </a>
          </div>

          <div class="nav-items">
            <ul>
              <li><a href="#" id="atencion-link"><i class="fas fa-list-alt"></i> Atenciones</a></li>
              <li><a href="#" id="servicios-link"><i class="fas fa-cogs"></i> Servicios</a></li>
              <li><a href="#" id="vehiculo-link"><i class="fas fa-car"></i> Mi Vehiculo</a></li>
              <li><a href="#" id="carrito-link"><i class="fas fa-shopping-cart"></i> Mi Carrito</a></li>
              <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="content" style="margin-top: 100px">
      <!-- Contenido adicional de tu página de inicio -->
      
      <button id="limpiarPantalla" style="display: none;">Limpiar Pantalla</button>

      <div id="container-current_user" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
        <h2> Bienvenido a ServiExpress, las mejores atenciones solo para usted, {{user_profile.user_name}}.</h2>
        <br>

        <div class="carousel-container" id="carousel-container">
          <div class="carousel" id="carousel">
            <div class="carousel-item" style="background-color: #3498db">
              <!-- Primer Slide: Imagen -->
              <img src="{% static 'slides/1.png' %}" alt="Imagen 1" />
            </div>
            <div class="carousel-item" style="background-color: #e74c3c">
              <!-- Tercer Slide: Imagen -->
              <img src="{% static 'slides/2.png' %}" alt="Imagen 2" />
            </div>
            <div class="carousel-item" style="background-color: #f39c12">
              <!-- Cuarto Slide: Imagen -->
              <img src="{% static 'slides/3.png' %}" alt="Imagen 3" />
            </div>
          </div>
  
          <button
            class="carousel-button carousel-button-prev"
            onclick="prevSlide()"
          >
            ❮
          </button>
          <button
            class="carousel-button carousel-button-next"
            onclick="nextSlide()"
          >
            ❯
          </button>
  
          <div class="carousel-indicators">
            <div class="indicator" onclick="goToSlide(0)"></div>
            <div class="indicator" onclick="goToSlide(1)"></div>
            <div class="indicator" onclick="goToSlide(2)"></div>
          </div>
        </div>
  
        <div class="contact-form-container" id="contact-form-container">
          <h2>Contacto</h2>
          <form id="contact-form" action="#" method="post">
            {% csrf_token %}
  
            <label for="name">Nombre:</label>
            <input type="text" id="fname" name="fname" required />
  
            <label for="email">Correo electrónico:</label>
            <input type="email" id="femail" name="femail" required />
  
            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" required></textarea>
  
            <button type="submit">Enviar</button>
          </form>
        </div>

      </div>

      <div id="container-cli_atencion" class="dynamic-content-container">
        <!-- Aquí se cargará el contenido dinámico -->
      </div>

      <div id="container-cli_servicios" class="dynamic-content-container">
        <!-- Aquí se cargará el contenido dinámico -->
      </div>

      <div id="container-cli_vehiculo" class="dynamic-content-container">
        <!-- Aquí se cargará el contenido dinámico -->
      </div>

      <button id="openManual">
        <i class="fas fa-question-circle"></i> Manual en linea
      </button><span id="Manualspan"> ¿Necesitas ayuda para navegar?, consulta nuestro manual en linea.</span>


       <!-- Modal Carrito -->
       <div class="container-xl" id="modal-container">
        <div class="modal" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  X
                </button>
              </div>
              <!-- Productos dentro del modal -->
              <div class="modal-body">

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="row" colspan="3" class="text-center">CARRITO</th>
                    </tr>
                    <tr>
                      <th scope="col">Servicio</th>
                      <th scope="col">Precios</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if request.session.carrito.items %}
                  {% for key, value in request.session.carrito.items %}
                    <tr>
                      <td>{{value.nombre}}</td>
                      <td>{{value.acumulado}}</td>
                    </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                      <td colspan="3">
                          <div class="alert alert-danger text-center"> Sin Servicios </div>
                      </td>
                  </tr>
                  {% endif %}
                    <tr>
                      <th scope="row">Total:</th>
                      <td colspan="2">$ {{totalCarrito}}</td>

                    </tr>
                  </tbody>
                </table>

                <div class="modal-footer">
                  <div class="col-6">
                    <a href="{% url 'CLS' %}" class="btn btn-danger"> Limpiar</a>
                    {% if request.session.carrito.items %}
                    <a href="#" class="btn btn-success">Inscribir atencion</a>
                  </div>
                  {% else %}
                  {% endif %}
                </div>

              </div>


              
            </div>
          </div>
        </div>
      </div>
      <!--Fin de Carrito-->

    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/contacto.js' %}"></script>

<!-- Manual -->
    <script>
      function openPdf() {
          var pdfPath = "{% static 'manuales/V.CL13NT3.pdf' %}";
          window.open(pdfPath, '_blank');
      }
      document.getElementById('openManual').addEventListener('click', openPdf);
  </script>

  <!-- atenciones -->

  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de Servicios
      $("#atencion-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_servicios.html
        $.ajax({
          url: "{% url 'cli_atencion' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-cli_atencion").html(data).show();

            $("#container-cli_servicios").html(''); 
            $("#limpiarPantallaServicios").hide(); 
            $("#container-cli_vehiculo").html(''); 
            $("#limpiarPantallaVehiculo").hide();
            $("#container-current_user").html(''); 

          },
          error: function () {
            alert("Error al cargar el contenido de Atenciones");
          },
        });
      });
      // Manejar el clic en el botón de limpiar pantalla de Usuarios
      $("#limpiarPantallaUsuarios").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
  
    });
</script>

  <!-- servicios -->

  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de Servicios
      $("#servicios-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_servicios.html
        $.ajax({
          url: "{% url 'cli_servicios' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-cli_servicios").html(data).show();

            $("#container-cli_atencion").html(''); 
            $("#limpiarPantallaAtencion").hide(); 
            $("#container-cli_vehiculo").html(''); 
            $("#limpiarPantallaVehiculo").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Servicios");
          },
        });
      });
      $("#limpiarPantallaUsuarios").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
  
    });
</script>

<!-- vehiculo -->

<script>
  $(document).ready(function () {
    // Manejar el clic en el enlace de vehiculo
    $("#vehiculo-link").on("click", function (e) {
      e.preventDefault();

      // Realizar una solicitud AJAX para obtener el contenido de adm_vehiculo.html
      $.ajax({
        url: "{% url 'cli_vehiculo' %}",
        method: "GET",
        success: function (data) {
          $(".adm-container").hide();
          $("#container-cli_vehiculo").html(data).show();

          $("#container-cli_atencion").html(''); 
          $("#limpiarPantallaAtencion").hide(); 
          $("#container-cli_servicios").html(''); 
          $("#limpiarPantallaServicios").hide();
          $("#container-current_user").html(''); 

        },
        error: function () {
          alert("Error al cargar el contenido de Vehiculos");
        },
      });
    });
    $("#limpiarPantallaUsuarios").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });

  });
</script>

<!-- Carrito -->

<script>
  $(document).ready(function () {
    // ...

    // Ocultar el modal al inicio
    $("#modal-container").hide();

    // Manejar el clic en el enlace de Carrito
    $("#carrito-link").on("click", function (e) {
      e.preventDefault();

      // Mostrar el modal del carrito
      $("#modal-container").show();
    });

    // Manejar el clic en el botón de cerrar del modal
    $(".close").on("click", function () {
      // Ocultar el modal cuando se cierra
      $("#modal-container").hide();
    });

    // Ocultar el modal al hacer clic fuera de él
    $(document).on('click', function (e) {
      if (!$(e.target).closest('#modal-container, #carrito-link').length) {
        // Si el clic no fue en el modal ni en el enlace de Carrito, ocultar el modal
        $("#modal-container").hide();
      }
    });
  });
</script>


  </body>
</html>
