/* Estilos del formulario de agregar atención */
#add-atencion-form-container {
  margin-top: 20px;
}

#add-atencion-form {
  max-width: 400px;
  margin: 0 auto;
}

#add-atencion-form label {
  display: block;
  margin-bottom: 5px;
}

#add-atencion-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#add-atencion-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#add-atencion-btn:hover {
  background-color: #45a049;
}

/* Estilos de la tabla de atenciones */
.atencion-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.atencion-table th,
.atencion-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-header {
  background-color: rgb(28, 18, 122);
  color: #ddd;
}

/* Estilos del mensaje cuando no hay atenciones */
.no-atencion {
  margin-top: 20px;
  font-style: italic;
  color: #777;
}

/* Estilos de SweetAlert (popup de éxito) */
.swal2-popup {
  font-size: 1.2em;
}