.navbar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(18, 18, 122);
    font-family: 'Arial', sans-serif;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: #fff;
}

.logo img {
    padding-left: 15px;
    width: 60px; /* Ajusta la altura del logo según tus necesidades */
}

.logo img:hover {
    transform: scale(1.1); /* Ajusta el valor según tus preferencias */
    transition: 0.5s;
}

.nav-items ul {
    list-style: none;
    display: flex;
}

.nav-items ul li {
    margin-right: 25px;
}

.nav-items ul li:hover {
    transform: scale(1.1); /* Ajusta el valor según tus preferencias */
    transition: 0.5s;
}

.nav-items a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.login-button a {
    background-color: #fff; /* Blanco */
    color: #000; /* Letras negras */
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
}

.login-button a:hover {
    color: blue;/* Azul al pasar el ratón */
    background-color: #fff; /* Blanco al pasar el ratón */

}
