.clickable-image {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .clickable-image.enlarged {
    transform: scale(2);  /* Ajusta el valor de escala según sea necesario */
  }

.vehicle-title {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.vehicle-table {
    font-family: 'Arial', sans-serif;
    width: 100%;
    margin: 20px 25px;
    border-collapse: collapse;
    box-shadow: 0 0 20px #0000001a;
    background-color: #fff;
    text-align: center;
}

.table-header, .vehicle-image {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.vehicle-image {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.no-vehicles {
    color: #666;
}