
{% load static %}

<body>
    <img src="{% static 'LogoPokebola.png' %}" alt="Logo" width="">

    <h1>Hello World</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolorum expedita
  alias mollitia sunt dolor, obcaecati architecto quibusdam at sequi saepe
  adipisci, ipsa inventore officia repellendus vitae nostrum rem libero corporis
  impedit, ipsam maiores temporibus? Ad, molestiae. Fuga, itaque odit! Aliquid
  laborum obcaecati blanditiis distinctio ducimus corrupti ex aperiam quod?
</p>
    
</body>
</html>
