<!-- index.html -->

{% load static %}

<style>
  #openManual {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #openManual:hover {
    background-color: #45a049;
  }

  #openManual i {
    margin-right: 8px;
    font-size: 18px;
  }

  #Manualspan {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
    font-family: Arial, Helvetica, sans-serif;
  }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ServiExpress</title>
    <!-- .css -->
  <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
  
  <link rel="stylesheet" href="{% static 'styles/serviceform.css' %}">
  <link rel="stylesheet" href="{% static 'styles/usersTable.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_atenciones.css' %}">
  <link rel="stylesheet" href="{% static 'styles/ate_modificar.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_filtrar.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_pedidos.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_vehiculos.css' %}">
  <link rel="stylesheet" href="{% static 'styles/adm_inv.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  
  <header>
    <nav>
      <div class="navbar">
        <div class="logo">
          <a href="/per_home">
            <img src="{% static 'LogoPokebola.png' %}" alt="Logo">
          </a>
        </div>

        <div class="nav-items">
          <ul>
            <li><a href="#" id="atenciones-link"><i class="fas fa-list-alt"></i> Atenciones</a></li>
            <li><a href="#" id="proveedores-link"><i class="fas fa-truck"></i> Proveedores</a></li>
            <li><a href="#" id="pedidos-link"><i class="fas fa-shopping-basket"></i> Pedidos</a></li>
            <li><a href="#" id="inventario-link"><i class="fas fa-box"></i> Inventario</a></li>
            <li><a href="#" id="vehiculos-link"><i class="fas fa-car"></i> Vehiculos</a></li>
            <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>            
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="content" style="margin-top: 20px; margin-left: 10px;">
    <!-- Contenido adicional de tu página de inicio -->

    <button id="limpiarPantalla" style="display: none;">Limpiar Pantalla</button>

    <div id="container-current_user" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <h3> Bienvenido a ServiExpress, que tenga usted una excelente jornada señor {{user_profile.user_name}}.</h3>
      <br>
      <div class="col-md-12">
        <h4>Atenciones del día de hoy</h4>
        {% if atenciones_del_dia %}
            <table class="atencion-table">
                <thead>
                    <tr>
                        <th class="table-header">Id</th>
                        <th class="table-header">Cliente</th>
                        <th class="table-header">Lista de Atenciones</th>
                        <th class="table-header">Fecha de Atencion</th>
                        <th class="table-header">Total de la Atencion</th>
                        <th class="table-header">Estado de la Atencion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atencion in atenciones_del_dia %}
                        <tr>
                            <td>{{ atencion.ate_id }}</td>
                            <td>{{ atencion.userProfile.user_name }} {{ atencion.userProfile.user_lastname }}</td>
                            <td>{{ atencion.ate_list }}</td>
                            <td>{{ atencion.ate_date }}</td>
                            <td>{{ atencion.ate_prec }}</td>
                            <td>{{ atencion.ate_est }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay atenciones para el día de hoy.</p>
        {% endif %}
    </div>
    
    </div>

    <div id="container-adm_atenciones" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>

    <div id="container-adm_pedidos" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>

    <div id="container-adm_inv" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>

    <div id="container-adm_vehiculos" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
      <!-- Aquí se cargará el contenido dinámico -->
    </div>

    <div id="container-per_proveedores" class="dynamic-content-container" style="margin-top: 20px; margin-left: 10px;">
        <!-- Aquí se cargará el contenido dinámico -->
    </div>

    <button id="openManual">
      <i class="fas fa-question-circle"></i> Manual en linea
    </button><span id="Manualspan"> ¿Necesitas ayuda para navegar?, consulta nuestro manual en linea.</span>

  </div>


  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="{% static 'js/carousel.js' %}"></script>

<script>
    function openPdf() {
        var pdfPath = "{% static 'manuales/V.P3R50NAL.pdf' %}";
        window.open(pdfPath, '_blank');
    }
    document.getElementById('openManual').addEventListener('click', openPdf);
</script>

  <!-- atenciones -->

  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de Servicios
      $("#atenciones-link").on("click", function (e) {
        e.preventDefault();
  
        $.ajax({
          url: "{% url 'adm_atenciones' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_atenciones").html(data).show();

            $("#container-adm_servicios").html(''); 
            $("#limpiarPantallaServicios").hide();
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-adm_pedidos").html(''); 
            $("#limpiarPantallaPedidos").hide();
            $("#container-adm_inv").html(''); 
            $("#limpiarPantallaInventario").hide();
            $("#container-per_proveedores").html(''); 
            $("#limpiarPantallaProveedores").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Atenciones");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Servicios
      $("#limpiarPantallaServicios").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

  <!-- pedidos -->
  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de pedidos
      $("#pedidos-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_pedidos.html
        $.ajax({
          url: "{% url 'adm_pedidos' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_pedidos").html(data).show();
            $("#limpiarPantallaPedidos").show();
            $("#container-adm_atenciones").html(''); 
            $("#limpiarPantallaAtenciones").hide(); 
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-per_proveedores").html(''); 
            $("#limpiarPantallaProveedores").hide();
            $("#container-adm_inv").html(''); 
            $("#limpiarPantallaInventario").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Pedidos");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Proveedores
      $("#limpiarPantallaPedidos").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

  <!-- inventario -->
  <script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de pedidos
      $("#inventario-link").on("click", function (e) {
        e.preventDefault();
  
        // Realizar una solicitud AJAX para obtener el contenido de adm_inv.html
        $.ajax({
          url: "{% url 'adm_inv' %}",
          method: "GET",
          success: function (data) {
            $(".adm-container").hide();
            $("#container-adm_inv").html(data).show();
            $("#limpiarPantallaInventario").show();
            $("#container-adm_atenciones").html(''); 
            $("#limpiarPantallaAtenciones").hide(); 
            $("#container-adm_vehiculos").html(''); 
            $("#limpiarPantallaVehiculos").hide();
            $("#container-per_proveedores").html(''); 
            $("#limpiarPantallaProveedores").hide();
            $("#container-adm_pedidos").html(''); 
            $("#limpiarPantallaPedidos").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Inventario");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Proveedores
      $("#limpiarPantallaInventario").on("click", function () {
        $(".adm-container").hide();
        $(this).hide();
      });
    });
  </script>

<!-- vehiculos -->

<script>
  $(document).ready(function () {
    // Manejar el clic en el enlace de Vehículos
    $("#vehiculos-link").on("click", function (e) {
      e.preventDefault();

      $.ajax({
        url: "{% url 'adm_vehiculos' %}",
        method: "GET",
        success: function (data) {
          $(".adm-container").hide();
          $("#container-adm_vehiculos").html(data).show();

          // Ocultar otros contenedores y botones de limpiar pantalla
          $("#container-per_proveedores").html(''); 
          $("#limpiarPantallaProveedores").hide();
          $("#container-adm_atenciones").html(''); 
          $("#limpiarPantallaAtenciones").hide();
          $("#container-adm_pedidos").html(''); 
          $("#limpiarPantallaPedidos").hide();
          $("#container-adm_inv").html(''); 
          $("#limpiarPantallaInventario").hide();
          $("#container-current_user").html(''); 
        },
        error: function () {
          alert("Error al cargar el contenido de Vehículos");
        },
      });
    });

    // Manejar el clic en el botón de limpiar pantalla de Vehículos
    $("#limpiarPantallaVehiculos").on("click", function () {
      $(".adm-container").hide();
      $(this).hide();
    });
  });

</script>

<!-- proveedores -->

<script>
    $(document).ready(function () {
      // Manejar el clic en el enlace de proveedores
      $("#proveedores-link").on("click", function (e) {
        e.preventDefault();
  
        $.ajax({
          url: "{% url 'per_proveedores' %}",
          method: "GET",
          success: function (data) {
            $(".per-container").hide();
            $("#container-per_proveedores").html(data).show();
  
            // Ocultar otros contenedores y botones de limpiar pantalla
            $("#container-adm_atenciones").html(''); 
            $("#limpiarPantallaAtenciones").hide();
            $("#container-adm_pedidos").html(''); 
            $("#limpiarPantallaPedidos").hide();
            $("#container-adm_inv").html(''); 
            $("#limpiarPantallaInventario").hide();
            $("#container-current_user").html(''); 
          },
          error: function () {
            alert("Error al cargar el contenido de Proveedores");
          },
        });
      });
  
      // Manejar el clic en el botón de limpiar pantalla de Vehículos
      $("#limpiarPantallaProveedores").on("click", function () {
        $(".per-container").hide();
        $(this).hide();
      });
    });
  
  </script>

</body>
</html>
